<%- content_for :page_title, "Results for '#{@query}'" -%>
<h1>Search Results</h1>
<%- @plate_editions.each do |plate_edition| -%>
  <%= render :partial => 'plate_editions/search_plate_edition', :locals => { :plate_edition => plate_edition } %>
<%- end -%>
<%- content_for :javascript do -%>
  <%= events_json %>
<%- end -%>
